@charset "utf-8";
/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: normal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
	height: auto;
    vertical-align: middle;
    border: 0;
}
/* for IE8 */
@media \0screen {
	img {
        width: auto;
    }
}
a {
    display: block;
    color: #555;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:active,
a:focus {
    color: #888;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, div, span, input,
select, textarea,
table, ul, li {
    font-family: "Century Gothic", Arial, "Microsoft JhengHei", "PMingLiU", sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1;
    color: #555;
    font-size: 1rem;
    font-family: "Century Gothic", Arial, "Microsoft JhengHei", "PMingLiU", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span, i {
    vertical-align: middle;
}
input[type="button"],
input[type="submit"] {
    padding: 5px 20px;
    color: #fff;
    text-align: center;
    border: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
    vertical-align: middle;
    cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover {
    color: #fff;
}
/* 去除按鈕預設樣式*/
input[type="text"],
input[type="number"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input[type="button"],
input[type="submit"],
a.btn_small,
a.btn_big,
a.btn_superbig {
    color: #fff;
}
/*Input 的"禁止"設定*/
input[type="text"]:disabled, input[type="password"]:disabled,
input[type="data"]:disabled, input[type="time"]:disabled,
input[type="email"]:disabled, select:disabled, textarea:disabled {
    color: #bf9999;
    background-color: #e6e6e6;
    cursor: default;
}
select:disabled {
    opacity: 1;
}
/* 設定此虛線是為了給鍵盤玩家辨識 */
/* input[type="text"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
select:focus, textarea:focus {
    outline: 2px dashed #ccc;
} */
/*Input 的"禁止"設定*/
input.input33:-moz-read-only,
input.input50:-moz-read-only,
input.input100:-moz-read-only {
    color: #bf9999;
    cursor: default;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="data"]:disabled,
input[type="time"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input.input33:read-only,
input.input50:read-only,
input.input100:read-only,
select:disabled,
textarea:disabled {
    color: #bf9999;
    background: #e8e8e8;
    border: 1px solid #d6d6d6;
    cursor: default;
}
input[type="button"]:disabled,
input[type="submit"]:disabled {
    color: rgba(0,0,0,.4);
    background-color: #bbb;
    border: 1px solid #bbb;
    cursor: default;
}
input[type="button"]:disabled:hover,
input[type="button"]:disabled:active,
input[type="button"]:disabled:focus,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
input[type="submit"]:disabled:focus {
    color: rgba(255,255,255,.5);
}
select:disabled {
    opacity: 1;
}
input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}
input[type="radio"] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 2px 0 0;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
}
input[type="radio"] + span,
input[type="checkbox"] + span {
    padding: 0 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
}
button {
    cursor: pointer;
}
/*Input 的 Placeholder 設定*/
::-webkit-input-placeholder { /* WebKit browsers:Chrome, Safari */
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
}
::-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
}
::placeholder { /* CSS 3 標準 */
    color: #ccc;
}
/* input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    color: #3f759e;
} */

/*********  以下為 手機畫面_設定  *********/
/* 寬度大於 1024px (電腦)*/
@media screen and (min-width: 1024px) {
    /* 表格內的ScrollBar樣式設定 */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #e8e8e8;
    }
    ::-webkit-scrollbar-thumb {
        background: #bbb;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

/* 寬度小於 1023px (平板+手機)*/
@media screen and (max-width: 1023px) {
    /* 表格內的ScrollBar樣式設定 */
    ::-webkit-scrollbar {
        width: 5px;
    }
}